* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 1.5s ease;
    -webkit-transition: all 1.5s ease;
    z-index: 0;
}

div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    opacity: 0;
    transition: all 1.5s ease;
    -webkit-transition: all 1.5s ease;
    z-index: 1;
}

p {
    background-color: transparent;
    color: whitesmoke;
    text-shadow: 2px 2px 2px black;
    text-align: center;
    font-size: 2em;
    z-index: 2;
}

p:first-of-type{
    font-weight: bold;
    text-shadow: 4px 4px 3px black;
}

p:nth-child(3){
    color: goldenrod;
    font-style: italic;
}

div:hover,
div:active {
    opacity: 1;
}

@media all and (orientation:landscape){
    img, div{
        width: 70vh;
        margin-left: calc(50vw - 35vh);
    }
}