body {
    margin: 5vh, 5%;
    background-color: rgb(238, 200, 154);
}

.imgHombre {
    width: 100%;
    height: 100%;
    justify-self: center;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url(./imagenesTienda/inicio/bannerGrande.jpg);
    height: 16vh;
    width: 100%;
}

footer {
    margin-top: 3%;
    background-color: cornflowerblue;

}

.botonFooter {
    font-size: 1.2em;
    width: 10%;
    height: 50%;
    background-color: aquamarine;
}

h1 {
    text-align: center;
    font-size: 3em;
    margin: 0px;
}

a {
    margin: 1em 2%;
    height: 2em;
    width: 6em;
    display: flex;
    justify-content: center;
    font-size: xx-large;
    box-shadow: 5px 5px 6px 0.3vw black;
    border-radius: 15px;
    background-color: goldenrod;
    color: black;
    text-decoration: none;
}

#botonInicio {
    align-items: center;
    margin-right: 20%;
}

#botonInicio:hover {
    background-color: lightsteelblue;
}

.boton {
    font-size: 2.8vw;
    align-self: center;
    align-items: center;
    transition: all 1s ease;
    -webkit-transition: all 0.5s ease;
}

.boton::before {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}

.boton:hover {
    color: whitesmoke;
    text-shadow: 1px 1px 3px black;
    background-color: lightsalmon;
}

#parrafo:hover::before {
    background-color: white;
    color: black;
}

.botonFotosIndex {
    margin: 0;
    width: auto;
    height: auto;
    box-shadow: 5px 5px 10px black;
}

#activo {
    box-shadow: 5px 5px 5px 2px black inset;
    color: whitesmoke;
    background-color: lightsalmon;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    margin: 2% 0;
}

.imgHombre:active,
.imagenes:active {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50vw;
    height: 80vh;
    margin: auto;
    z-index: 1;
    object-fit: contain;
}

.indexf {
    align-items: center;
    width: 50%;
    margin: 0 3%;
}

.indexp {
    font-size: 2.5em;
    text-align: center;
    margin: 1%;
}

#indexSect {
    flex-direction: row;
}

#indexCentro {
    align-items: end;
    margin-top: 15%;
}

.fotosIndex {
    box-shadow: 5px 5px 10px black;
}

img {
    width: 100%;
}

.imagenes {
    width: 100%;
}

.producto {
    margin: 3% 0 0 0;
    height: 8%;
    text-align: center;
    font-size: 1.5vw;
}

.precio {
    margin: 0 0 4% 0;
    height: 8%;
    text-align: center;
    font-size: 1.5vw;
}



@media screen and (max-width:900px) {
    body {
        background-color: lightsalmon;
    }

    nav {
        background-image: url(./imagenesTienda/inicio/bannerMed.jpg);
    }

    h1 {
        font-size: 2em;
    }

    a {
        width: 18vw;
        height: 7vh;
    }

    section {
        flex-flow: wrap;
    }

    div {
        width: 30%;
    }

    .indexp {
        font-size: 5vw;
    }

    .indexf {
        align-items: center;
        width: 27%;
        margin: 0 3%;
    }

    .precio,
    .producto {
        font-size: 13px;
    }

    .botonFooter {
        width: 30%;
        border-radius: 9px;
        box-shadow: 4px 4px 5px black;
    }

}

@media screen and (max-width:400px) {
    body {
        background-color: darkorange;
    }

    nav {
        background-image: url(./imagenesTienda/inicio/bannerPeque.jpg);

    }

    h1 {
        font-size: 1.5em;
    }

    a {
        width: 18vw;
        height: 7vh;
    }

    .boton {
        font-size: 4vw;
        width: 25%;
    }

    #indexSect {
        flex-direction: column;
    }

    section {
        flex-flow: column;
        align-items: center;
    }

    div {
        width: 60%;
    }

    .indexp {
        font-size: 4.5vw;
        align-self: center;
    }

    .indexf {
        align-items: center;
        width: 15%;
        margin: 0 3%;
    }

    #indexHombre {
        margin-right: 55%;
        width: 40%;
    }

    #indexCentro {
        margin-top: 0;
        margin-left: 55%;
        width: 40%;
    }

    #indexMujer {
        margin-right: 55%;
        margin-bottom: 15%;
        width: 40%;
    }

    .precio,
    .producto {
        font-size: 6vw;
    }

    .botonFooter {
        width: 30%;
        border-radius: 9px;
        box-shadow: 4px 4px 5px black;
    }
}