*{
	padding: 0;
	margin: 0;
}

body{
	counter-reset: section;
}

h1{
	font-size: 2em;
}

h2{
	font-size: 1.5em;
	font-style: italic;
	color: black;
	margin-bottom: 20px;
}

p{
	margin: 0;
	color:blue;
}

p::before{
	counter-increment: section;
	content: counter(section)" - ";	
}

span{
	color: blue;
	background-color: yellow;
	font-weight: bold;
}

div{
	align-self: center;
}

#encabezado{
	align-self: center;
	align-items: center;
	justify-content: center;
	margin-bottom: 15px;
}

#letra{
	display: flex;
	flex-direction: row;
	overflow: hidden;
}