*{
	padding: 0;
	margin: 0;
}

h1{
	font-size: 2em;
}

h2{
	font-size: 1.5em;
	font-style: italic;
	color: blue;
}

p::before{
	counter-reset: select;
	counter-increment: 1;
		color: blue;
}

span{
	color: blue;
	background-color: yellow;
	font-weight: bold;
}