html{
    cursor: url("./cursor1.png"),auto;
}

a:hover, button:hover, select:hover{
    cursor: url("./cursor2.png"), auto;
}

body {
    margin: 5vh, 5%;
    background-color: rgb(238, 200, 154);
}

h1 {
    text-align: center;
    font-size: 3em;
    margin: 0px;
}

footer {
    position: fixed;
    left: 0%;
    bottom: 0%;
    width: 85%;
    height: auto;
}

.imagenes {
    width: 50%;
    height: 100%;
    justify-self: center;
    object-fit: cover;
}



/*Estilo para el menú de navegación, que será el mismo en todas las páginas*/

nav{
    height: 16vh;
    width: 100%;
    object-fit: contain;
}

#banner, img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.naveg {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url(./imagenesTienda/banner/bannerGrande-h.jpg);
}

#navegInicio{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.botonFooter {
    font-size: 1.2em;
    width: 100px;
    height: 60%;
    background-color: aquamarine;
}



/*Estilo de los botones*/

a {
    margin: 1em 2%;
    height: 2em;
    width: 6em;
    display: flex;
    justify-content: center;
    font-size: xx-large;
    box-shadow: 5px 5px 6px 0.3vw black;
    border-radius: 15px;
    background-color: goldenrod;
    color: black;
    text-decoration: none;
}

#botonTema{
    align-items: center;
    width: 2em;
    height: 2em;
    box-shadow: 5px 5px 3px 1px black;
    background-color: coral;
}

#botonConfig{
    margin-right: 10%;
    width: 4em;
    height: 2em;
    background-color: rgb(181, 179, 179);
}

#botonConfig:hover{
    background-color: gray;
}

#botonInfo{
    margin-left: 10%;
    width: 4em;
    height: 2em;
    background-color: darkorchid;
}

#botonInfo:hover{
    background-color: darkorange;
}

#botonModal{
    width: 3.5em;
    height: 2em;
    background-color: rgb(14, 147, 147);
}

#botonModal:hover{
    background-color: rgb(0, 183, 255);
}

#botonInicio {
    align-items: center;
    margin-right: 5%;
}

#botonInicio:hover {
    background-color: lightsteelblue;
}

.boton {
    font-size: 2.8vw;
    align-self: center;
    align-items: center;
    transition: all 1s ease;
    -webkit-transition: all 0.5s ease;
}

.boton::before {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}

.boton:hover {
    color: whitesmoke;
    text-shadow: 1px 1px 3px black;
    background-color: lightsalmon;
}

#botonTema:hover{
    background-color: gray;
}

#parrafo:hover::before {
    background-color: white;
    color: black;
}

.botonFotosIndex {
    margin: 0;
    width: auto;
    height: auto;
    box-shadow: 5px 5px 10px black;
}

#activo {
    box-shadow: 5px 5px 5px 2px black inset;
    color: whitesmoke;
    background-color: lightsalmon;
}


/*Estilo para el nombre del usuario en la esquina*/


#nombreUsuario{
    position: fixed;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px;
    font-size: 1.5em;
}

#nombre-esquina {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #f1f1f1;
    padding: 10px;
    border: 1px solid #ccc;
  }

/*Estilo para el modal*/

/*Boton para ocultar el modal*/
#cerrarModal{
    float: right;
    margin-right: 10px;
    margin-top: 0px;
    padding: 0 5px;
    width: 3em;
    height: 1.5em;
    border-radius: 10px;
    box-shadow: 2px 2px 3px black;
    align-items: center;
    text-decoration: none;
    font-size: 1.2em;
    color: white;
    background-color: red;
}

/*Colorear la 'X' de cerrar en negro*/
#cerrarModal:hover{
    color:black;
}

/*Cambiar el fondo del modal para que sea más visible*/
.modal{
    display: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);

}

/*Cuando es seleccionado como target*/
.modal:target{
    display: table;
    position: absolute;
    
}

/*Caja que contiene la información*/
#modalCuadrado{
    position: fixed;
    top: 20%;
    left: 20%;
    right: 20%;
    bottom: 20%;
    display: table-cell;
    vertical-align: middle;
}

/*Color de fondo de la parte central del modal*/
#modalTexto{
    height: 70%;
    background-color: azure;
}

/*Estilos de las partes superior e inferior del modal*/
#modalHeader{
    margin-top: 0%;
    padding: 8px 0;
    font-size: 1.3em;
    background-color: lightsalmon;
}

#modalFooter{
    height: 15%;
    background-color: lightsalmon;
}

#modalP,#modalH3,#modalH2{
    margin: 2px 15px;
}

#footerM{
    margin: 0;
}



/*Estilo de los elementos de la página de configuración*/

.opciones{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    width: 100%;
    height: 20%;   
}

.configP{
    font-size: 1.5em;
}

#zonaModo{
    width: 100px;
}

#noche{
    display: block;
    width: 100%;
}

#dia{
    display: none;
    width: 100%;
}

#textoEjemplo{
    margin-top: -40px;
    margin-bottom: -15px;
    padding: 0;
}

/*.mi-cursor{
    cursor: url("");
}*/



/*Estilo para las páginas hombre, mujer, niños*/

section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.art {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    margin: 2%;
}

.art:active {
    position: fixed;
    top: 0;
    bottom: 20%;
    left: 0;
    right: 0;
    width: 25vw;
    height: 70vh;
    margin: auto;
    z-index: 1;
    object-fit: cover;
}

.indexf {
    align-items: center;
    width: 50%;
    margin: 0 3%;
}

.indexp {
    font-size: 2.5em;
    text-align: center;
    margin: 1%;
}

#indexSect {
    flex-direction: row;
}

#indexCentro {
    align-items: end;
    margin-top: 15%;
}

.fotosIndex {
    box-shadow: 5px 5px 10px black;
}

.imagenes {
    width: 100%;
}

.producto {
    margin: 3% 0 0 0;
    height: 8%;
    text-align: center;
    font-size: 1.5vw;
}

.precio {
    margin: 0 0 4% 0;
    height: 8%;
    text-align: center;
    font-size: 1.5vw;
}